
$primary-color: #0e2330; /* dark blue */
$secondary-color: #eff2cb; /* light blue */
$tertiary-color: #0C1444; /*  */

$primary-color-light: #FFF; /* white */
$secondary-color-light: #2E145D; /* violet */
$tertiary-color-light: #FFB6C1; /* pink */
